* {
	padding: 0;
	margin: 0;
	line-height: 1.6;
	box-sizing: border-box;
}

html {
	font-size: var(--font-size-base-mobile);
	scroll-behavior: smooth;

	@include min-mq($min-tablet) {
		font-size: var(--font-size-base-desktop);
	}
}

body {
	font-size: 1rem;
}

button {
	&:focus {
    	outline: none;
	}
}