.c-card {
	background-color: var(--white);
}

.c-card__list {
	text-transform: uppercase;

	& > li {
		padding: var(--size-3) 0;
	}

	& > li:not(:last-child) {
		border-bottom: 1px solid var(--color-secondary--light);
	}
}

.c-card__list--popular {
	& > li:first-child {
		background-color: var(--color-primary);
		border-bottom: 2px solid var(--transparent);
		color: var(--white);
		font-weight: var(--font-weight-bold);
	}
}

.c-card__price {
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-bold);
	font-size: var(--size-43);

	span {
		font-size: var(--size-25);
	}
}