.c-form-wrapper {
	background-color: var(--white);
	text-align: center;
	width: 100%;
	border-radius: var(--size-2);
	overflow: hidden;

	@include min-mq($min-tablet) {
		max-width: var(--size-50);
	}
}

.c-input-wrapper {
	width: 80%;
	margin: 0 auto;
}

.c-input-field {
  position: relative;
  width: 100%;
  margin: var(--size-20) 0;
  text-align: left;

  @include min-mq($min-tablet) {
 		margin: var(--size-25) 0;
 	}
}

label {
  position: absolute;
  top: var(--size-2);
  left: var(--size-4);
  width: 100%;
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
  cursor: text;
  transition: all 0.4s;
}

input, textarea {
  width: 100%;
  border: 0;
  outline: 0;
  padding: var(--size-2) var(--size-4);
  border-bottom: 1px solid var(--color-secondary);
  color: var(--color-primary);
}

textarea {
 	resize: none;
 	height: var(--size-45);

 	@include min-mq($min-tablet) {
 		height: 100%;
 	}
}

input:focus, textarea:focus, input:valid {
  border-color: var(--color-primary);
}

input:focus~label, input:valid~label, textarea:focus~label {
  font-size: var(--size-4);
  top: -1.0714rem;
  left: 0;
  color: var(--color-primary);
}