.c-grid {
	display: grid;
	padding: var(--size-25) 0;
}

.c-grid--thirds {
	row-gap: var(--size-25);

	@include min-mq($min-tablet) {
		grid-template-columns: repeat(3, 1fr);
		column-gap: var(--size-25);
	}
}

.c-grid--halves {
	@include min-mq($min-tablet) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: var(--size-35);
	}
}