.c-social-icons > a {
	color: var(--color-secondary);
	transition: color .4s;
	margin: var(--size-3);	
}

.c-social-icons--large {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: var(--size-22);

	&:hover {
		color: var(--black);
	}

	@include min-mq($min-tablet) {
		justify-content: space-around;
		font-size: var(--size-30);
	}
}

.c-social-icons--small {
	font-size: var(--size-22);

	&:hover {
		color: var(--white);
	}
}