.c-tabs-wrapper {
	display: flex;
	flex-direction: row;

	@include min-mq($min-tablet) {
		flex-direction: column;
		min-width: var(--size-45);
	}
}

.c-tab {
	width: 100%;
	height: var(--size-30);
	background-color: var(--color-secondary--dark);
	padding: var(--size-3) 0;

	@include min-mq($min-tablet) {
		height: var(--size-45);
	}
}

.c-tab--active {
	background-color: var(--color-primary);
}