@mixin min-mq($var) {
  @media (min-width: #{$var}) {
    @content;
  }
}
  
@mixin max-mq($var) {
  @media (max-width: #{$var}) {
    @content;
  }
}

@mixin orientation($var) {
	@media (orientation: $var) {
		@content;
	}
}

@mixin text-devider-bottom($color, $left, $translateX) {
	position: relative;

	&::after {
		content: "";
	    height: 2px;
	    width: var(--size-35);
	    background-color: $color;
	    position: absolute;
	    bottom: 0;
	    left: $left;
	    transform: translateX($translateX);	
	}
}