.u-text--semi-bold {
	font-weight: var(--font-weight-semibold);
} //for header li

.u-text--uppercase {
	text-transform: uppercase;
} //for pricing section li/p - most popular

.u-text--italic {
	font-style: italic;
} // for paragraf in testemonial section and h3 