//text
.u-text--semi-bold {
	font-weight: var(--font-weight-semibold);
}

.u-text--uppercase {
	text-transform: uppercase;
} 

.u-text--italic {
	font-style: italic;
}

.u-text--small {
	font-size: var(--size-4);
}

.u-text--center {
	text-align: center;
}

.u-text--cta {
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-light);
	font-size: var(--size-15);
	color: var(--white);
	padding: var(--size-25) 0;
}
//container
.u-container {
	max-width: var(--size-60);
	padding: 0 var(--size-10);
	margin: 0 auto;
	z-index: 2;
}
//flex
.u-flex {
	display: flex;
}
.u-flex--wrap {
	flex-wrap: wrap;
}

.u-flex--space-between {
	justify-content: space-between;
}

.u-flex--space-evenly {
	justify-content: space-evenly;
}

.u-flex--flex-end {
	align-items: flex-end;
}

.u-flex--center {
	align-items: center;
}

.u-flex--halves {
	flex: 1 1 100%;

	@include min-mq($min-tablet) {
		flex: 0 1 47%;
	}
}

.u-flex--third {
	flex: 1 1 100%;

	@include min-mq($min-tablet) {
		flex: 0 1 33.3%;
	}
}

.u-flex--row-reverse {
	flex-direction: row-reverse;
}

.u-flex--two-thirds {
	flex: 1 1 100%;

	@include min-mq($min-tablet) {
		flex: 0 1 66.6%;
	}
}
//color
.u-color--primary {
	color: var(--color-primary);
}

.u-color--black {
	color: var(--black);
}

.u-bg-color--light {
	background-color: var(--color-secondary--light);
}

.u-bg-color--primary {
	background-color: var(--color-primary);
}

.u-color--white {
	color: var(--white);
}

//padding
.u-padd-0 {
	padding: 0;
}

//margin
.u-margin-0 {
	margin: 0;
}

.u-margin-top--mobile {
	@include max-mq ($min-tablet){
		margin-top: var(--size-30);
	}
}

.u-shadow--image {
	box-shadow: 0 20px 30px lightgrey;
}