:root{
//font family
--font-family-primary: 'Raleway', sans-serif;
--font-family-secondary: 'Open Sans', sans-serif;

//font weight
--font-weight-bold: 700;
--font-weight-semibold: 600;
--font-weight-normal: 400;

//font sizes
--font-size-base-desktop: 14px;
--font-size-base-mobile: 16px;

//sizes
--size-2: .3125rem;
--size-3: .5625rem;
--size-4: .8575rem;
--size-5: 1rem;
--size-10: 1.0714rem;
--size-15: 1.1428rem; 
--size-20: 1.4285rem;
--size-22: 1.8rem;
--size-25: 2.5714rem;
--size-30: 3.5771rem;
--size-35: 4.9285rem;
--size-40: 5.7142rem;
--size-60: 80rem;

//colors
--black: #000;
--white: #fff;

--color-primary: #ff9b51; //orange
--color-secondary: #86878b; //grey
--color-secondary--light: #f5f5f5; // for background
--color-secondary--dark: #333333; // for background (cards, tabs)
}

//breakpoints
$min-desktop: 1399px;
$min-tablet: 767px;