:root{
//font family
--font-family-primary: 'Raleway', sans-serif;
--font-family-secondary: 'Open Sans', sans-serif;

//font weight
--font-weight-bold: 700;
--font-weight-semibold: 600;
--font-weight-normal: 400;
--font-weight-light: 300;

//font sizes
--font-size-base-desktop: 14px;
--font-size-base-mobile: 16px;

//sizes
--size-2: .3125rem;
--size-3: .5625rem;
--size-4: .8575rem;
--size-5: 1rem;
--size-10: 1.0714rem;
--size-15: 1.1428rem; 
--size-20: 1.4285rem;
--size-21: 1.7142rem;
--size-22: 1.8rem;
--size-24: 2.2857rem;
--size-25: 2.5714rem;
--size-30: 3.5771rem;
--size-35: 4.9285rem;
--size-40: 5.7142rem;
--size-43: 6.7142rem;
--size-45: 7.8571rem;
--size-46: 10rem;
--size-48: 19.6428rem;
--size-49: 23.8571rem;
--size-50: 26.0714rem;
--size-51: 27.3571rem;
--size-53: 33.5714rem;
--size-55: 50.9285rem;
--size-60: 81rem;

//colors
--black: #000;
--white: #fff;

--color-primary: #ff9b51; //orange
--color-secondary: #86878b; //grey
--color-secondary--light: #f5f5f5; // for background
--color-secondary--dark: #333333; // for background (cards, tabs)

--transparent: transparent;
}

//breakpoints
$min-desktop: 1399px;
$min-tablet: 767px;